.welcome-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #262626;
  color: #fff;
}

.welcome-heading {
  font-size: 3rem;
  margin-bottom: 2rem;
  text-align: center;
}

.welcome-message {
  font-size: 1.5rem;
  margin-bottom: 3rem;
  text-align: center;
}

.welcome-image {
  width: 50%;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
